.header {
  width: 200px;
  height: 200px;
  background-color: pink;
}
.header a {
  color: red;
}
.header a:hover {
  color: blue;
}
.nav::before {
  content: "";
  display: block;
}
.nav .logo {
  color: green;
}
