* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix::before, .clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

body {
    background-color: #f3f5f7;
    /* height: 3000px; */
}

.header {
    height: 42px;
    margin: 30px auto;
}

.logo {
    float: left;
    width: 198px;
    height: 42px;
}

.nav {
    float: left;
    margin-left: 60px;
}

.nav ul li {
    float: left;
    margin: 0 15px;
}

.nav ul li a {
    display: block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    font-size: 18px;
    color: #050505;
}

.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}

.search {
    float: left;
    width: 412px;
    height: 42px;
    margin-left: 70px;
}

.search input {
    float: left;
    width: 345px;
    height: 40px;
    padding-left: 15px;
    border: 1px solid #00a4ff;
    border-right: none;
    color: #cfcfcf;
    font-style: 14px;
}

.search button {
    float: left;
    width: 50px;
    height: 42px;
    background: url(images/btn.png);
    border: 0;
}

.user {
    float: right;
    margin-right: 30px;
    line-height: 42px;
    font-size: 14px;
    color: #666;
}

/* banner begin */
.banner {
    height: 421px;
    background-color: #1c036c;
}

.banner .w {
    height: 421px;
    /* 
    font: font-style font-weight font-size/line-height font-family;
    背景复合写法
    background: background-color background-image background-repeat background-attachment background-position;
    */
    background: #1c036c url(images/banner2_20190819_210028.png) top center;
}

.subnav {
    float: left;
    width: 190px;
    height: 421px;
    background-color: rgba(0, 0, 0, .3);
}

.subnav ul li {
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
}

.subnav ul li a {
    color: #FFF;
    font-size: 14px;
}

.subnav ul li a:hover {
    color: #00a4ff;
}

.subnav ul li a span {
    float: right;
}

.course {
    float: right;
    width: 230px;
    height: 300px;
    background-color: #FFF;
    margin-top: 50px;
}

.course h2 {
    height: 48px;
    line-height: 48px;
    background-color: #9bceea;
    color: #FFF;
    text-align: center;
    font-size: 18px;
}

.bd {
    padding: 0 20px;
}

.bd ul li {
    padding: 14px 0;
    border-bottom: 1px solid #CCC;
}

.bd ul li h4 {
    font-size: 16px;
    color: #414141;
}

.bd ul li p {
    font-size: 12px;
    color: #a5a5a5;
}

.bd .more {
    display: block;
    height: 38px;
    line-height: 38px;
    border: 1px solid #22b0ff;
    margin-top: 5px;
    text-align: center;
    color: #00a4ff;
    font-size: 16px;
    font-weight: 700; 
}
/* banner end */

/* goods begin */
.goods {
    height: 60px;
    margin-top: 10px;
    background-color: #FFF;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, .1);
    line-height: 60px;
}

.goods h3 {
    float: left;
    margin: 0 30px;
    font-size: 16px;
    color: #00a4ff;
}

.goods ul {
    float: left;
}

.goods ul li {
    float: left;
}

.goods ul li a {
    padding: 0 30px;
    font-size: 16px;
    color: #050505;
    border-left: 1px solid #bfbfbf;
}

.goods .mod {
    float: right;
    margin-right: 30px;
    color: #00a4ff;
    font-size: 14px;
}
/* goods end */

.box {
    margin-top: 30px;
}

.box-hd {
    height: 45px;
}

.box-hd h3 {
    float: left;
    font-size: 20px;
    color: #494949;
}

.box-hd a {
    float: right;
    font-size: 12px;
    color: #a5a5a5;
    margin: 10px 30px 0 0;
}

/* 把li的父亲ul 修改的足够宽，一行能装开5个盒子就不会换行了 */
.box-bd ul {
    width: 1225px;
}

.box-bd ul li {
    position: relative;
    float: left;
    width: 228px;
    height: 270px;
    background-color: #FFF;
    margin-right: 15px;
    margin-bottom: 15px;
}

.box-bd ul li > img {
    width: 100%;
}

.box-bd ul li em {
    position: absolute;
    top: 4px;
    right: -4px;
}

.box-bd ul li h4 {
    margin: 20px 20px 20px 25px;
    font-size: 14px;
    color: #050505;
    font-weight: 400;

}

.box-bd .info {
    margin: 0 20px 0 25px;
    font-size: 12px;
    color: #999;
}

.box-bd .info span {
    color: #ff7c2d;
}

.footer {
    height: 415px;
    /* background-color: pink; */
    background-color: #fff;
}

.footer .w {
    padding-top: 35px;
}

.copyright {
    float: left;
}

.copyright p {
    font-size: 12px;
    color: #bfbfbf;
    margin: 15px 0;
}

.copyright a {
    display: block;
    width: 118px;
    height: 33px;
    line-height: 33px;
    border: 1px solid #00a4ff;
    color: #00a4ff;
    font-size: 16px;
    text-align: center;
}

.links {
    float: right;
}

.links dl {
    float: left;
    margin-left: 100px;
}

.links dl dt {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.links dl dd a {
    font-size: 12px;
    color: #333;
}